# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
include/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Hidden configs
.*.cfg

# Buildout
bin/
src/

# Sublime Text
*.sublime-workspace

# Docs
docs/

# Default config file
onegov.yml

# Default file storage
file-storage

# Buildout fragments
distribute-*.tar.gz

# IPython notebooks
notebooks/
.ipynb_checkpoints

# Default mail directory
mails/

# Default sms directory
sms/

# Default sql dump
dump.sql

# Custom buildout config
custom.cfg

# Access databases for migrations
*.mdb

# PIP
pip-selfcheck.json

# Custom scripts
scripts/

# pyenv
.python-version

# custom extra requirements
extras.txt
