# lingua 4.x trips on all kinds of things atm - there is some kind of
# fundamental rewrite underway
lingua==3.12

# force pytest on travis to be up to date
pytest>=3.0.6

# punch.py keeps breaking, we keep with what works for now
punch.py==1.4.2
