applications:
  - path: /towns/*
    application: onegov.town.TownApp
    namespace: towns
    configuration:
      dsn: postgres://user:password@localhost:5432/database
      identity_secure: false
      identity_secret: very-secret-key
      csrf_secret: another-very-secret-key
      filestorage: fs.osfs.OSFS
      filestorage_options:
        root_path: './file-storage'
        create: true
      depot_backend: 'depot.io.local.LocalFileStorage'
      depot_storage_path: './depot-storage'
      always_compile_theme: false
      allow_shift_f5_compile: false
      sql_query_report: false
      profile: false
      mail:
        transactional:
          host: localhost
          port: 1025
          force_tls: false
          username:
          password:
          sender: mail@onegovcloud.ch
          use_directory: true
          directory: './mails'
        marketing:
          host: localhost
          port: 1025
          force_tls: false
          username:
          password:
          sender: mail@onegovcloud.ch
          use_directory: true
          directory: './mails'
      mapbox_token:
      payment_provider_defaults:
        stripe_connect:
          client_id: foo
          client_secret: bar
          # the gateway through which the redirects go
          oauth_gateway: https://oauth.example.org
          # the key needed to authenticate oneself with the gateway
          oauth_gateway_auth: foobar
          # the client-specific secret that is used to authenticate the
          oauth_gateway_secret: barfoo

  - path: /wahlen/*
    application: onegov.election_day.ElectionDayApp
    namespace: election_day
    configuration:
      dsn: postgres://user:password@localhost:5432/database
      sentry_js: 'https://xxx@sentry.io/xxx'
      identity_secure: false
      identity_secret: very-secret-key
      csrf_secret: another-very-secret-key
      always_compile_theme: false
      allow_shift_f5_compile: false
      filestorage: fs.osfs.OSFS
      filestorage_options:
        root_path: './file-storage'
        create: true
      sms_directory: './sms'
      hipchat_room_id: '123456'
      hipchat_token: abcdef

logging:
  formatters:
      simpleFormater:
          format: '%(asctime)s - %(levelname)s: %(message)s'
          datefmt: '%Y-%m-%d %H:%M:%S'

  handlers:
      console:
          class: logging.StreamHandler
          formatter: simpleFormater
          level: DEBUG
          stream: ext://sys.stdout

  loggers:
      onegov.core:
          level: DEBUG
          handlers: [console]
      onegov.town:
          level: DEBUG
          handlers: [console]
