# core libraries
-e git+git@github.com:Onegov/onegov.server.git#egg=onegov.server[test]
-e git+git@github.com:Onegov/onegov.core.git#egg=onegov.core[test]
-e git+git@github.com:Onegov/onegov_testing.git#egg=onegov_testing
-e git+git@github.com:Seantis/libres.git#egg=libres[test]
-e git+git@github.com:Seantis/sedate.git#egg=sedate[test]

# models
-e git+git@github.com:Onegov/onegov.activity.git#egg=onegov.activity[test]
-e git+git@github.com:Onegov/onegov.ballot.git#egg=onegov.ballot[test]
-e git+git@github.com:Onegov/onegov.chat.git#egg=onegov.chat[test]
-e git+git@github.com:Onegov/onegov.directory.git#egg=onegov.directory[test]
-e git+git@github.com:Onegov/onegov.event.git#egg=onegov.event[test]
-e git+git@github.com:Onegov/onegov.file.git#egg=onegov.file[test]
-e git+git@github.com:Onegov/onegov.form.git#egg=onegov.form[test]
-e git+git@github.com:Onegov/onegov.foundation.git#egg=onegov.foundation[test]
-e git+git@github.com:Onegov/onegov.gis.git#egg=onegov.gis[test]
-e git+git@github.com:Onegov/onegov.invoice.git#egg=onegov.invoice[test]
-e git+git@github.com:Onegov/onegov.newsletter.git#egg=onegov.newsletter[test]
-e git+git@github.com:Onegov/onegov.notice.git#egg=onegov.notice[test]
-e git+git@github.com:Onegov/onegov.page.git#egg=onegov.page[test]
-e git+git@github.com:Onegov/onegov.pay.git#egg=onegov.pay[test]
-e git+git@github.com:Onegov/onegov.pdf.git#egg=onegov.pdf[test]
-e git+git@github.com:Onegov/onegov.people.git#egg=onegov.people[test]
-e git+git@github.com:Onegov/onegov.quill.git#egg=onegov.quill[test]
-e git+git@github.com:Onegov/onegov.recipient.git#egg=onegov.recipient[test]
-e git+git@github.com:Onegov/onegov.reservation.git#egg=onegov.reservation[test]
-e git+git@github.com:Onegov/onegov.search.git#egg=onegov.search[test]
-e git+git@github.com:Onegov/onegov.shared.git#egg=onegov.shared[test]
-e git+git@github.com:Onegov/onegov.ticket.git#egg=onegov.ticket[test]
-e git+git@github.com:Onegov/onegov.user.git#egg=onegov.user[test]

# applications
-e git+git@github.com:Onegov/onegov.election_day.git#egg=onegov.election_day[test]
-e git+git@github.com:Onegov/onegov.gazette.git#egg=onegov.gazette[test]
-e git+git@github.com:Onegov/onegov.org.git#egg=onegov.org[test]
-e git+git@github.com:Onegov/onegov.town.git#egg=onegov.town[test]
-e git+git@github.com:Onegov/onegov.feriennet.git#egg=onegov.feriennet[test]
-e git+git@github.com:Onegov/onegov.intranet#egg=onegov.intranet[test]
-e git+git@github.com:Onegov/onegov.onboarding.git#egg=onegov.onboarding[test]
-e git+git@github.com:Onegov/onegov.applications.git#egg=onegov.applications

# a replacement for buildout's omelette
git+https://github.com/href/scrambler#egg=scrambler

# used to update outdated packages
pip-review

# to show uncommitted changes
uncommitted

# to link all eggs into a single folder
git+https://github.com/href/scrambler#egg=scrambler

# profiling tools
gprof2dot
profilehooks

# testing tools
tox

# build tools
bumpversion
punch.py

# pytest plugins
pytest-cov
pytest-profiling
pytest-xdist

# jupyter notebooks
jupyter
matplotlib
boltons
sortedcontainers

# sphinx
sphinx
alabaster

# i18n
lingua
jinja2[i18n]
